/* Variables */

:root {
    --basic-white: #ffffff;
    --basic-black: #000000;
    --light-black: #333333;
    --basic-brown: #604e43;
    --light-brown: #766357;
    --dark-brown: #503e33;
    --basic-blue: #669ec0;
    --light-blue: #81b3d2;
    --dark-blue: #5496bd;
    --grey-features: #eeeeee;
    --grey-input-an-rating: #f2f2f2;
    --grey-rating-text: #666666;
    --grey-arrow: #cacaca;   
    --grey-form-hover: #ebebeb;
    --grey-icon: #a9a9a9;
    --grey-logo: #bdbbbc;
    --grey-chekbox: #6a6a6a;
    --grey-border: #E5E5E5;
    --white-main-footer: rgba(255, 255, 255, 0.9);
}

/* Global */

body {
    min-width: 1200px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-navigation {
    font-weight: 700;
    background-color: var(--basic-white);
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: var(--basic-black);  
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: var(--light-blue);
}

.site-navigation a:active {
	color: var(--basic-black);
	opacity: 0.3;
}

.site-navigation .nav-active {
    color: var(--light-brown);
}

.intro-img {
    background-color: var(--light-blue);
    background-image: url("../img/background-photo-index.jpg");
    background-repeat: no-repeat;
}

.intro-img::after {
        content: url("../img/intro-mask.svg");
}

.inro-text h1 {
    font-weight: 700;
    font-size: 21px;
}

.inro-text p {
    color: var(--light-black);
}

/*  Search */

.search {
    background-color: var(--basic-white);
}

.search h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
}

.search p {
    line-height: 24px;
    color: var(--light-black);
}

.search-btn {
    font: inherit;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    background-color: var(--light-brown);
    font-size: 21px;
    color: var(--basic-white);
    border: none;
}

.search-btn:hover,
.search-btn:focus {
    background-color: var(--basic-brown);
}

.search-btn:active {
	background-color: var(--dark-brown);
}

.search-btn span:active {
	opacity: 0.3;
}

/* Footer */

.footer {
    background-color: var(--basic-white);
}

.footer .main-footer {
    background-color: var(--white-main-footer);
}

.footer-contacts {
    text-align: center;
}

.footer-contacts p {
    font-weight: 700;
    font-size: 21px;
}

.footer-contacts a {
    font: inherit;
    color: var(--basic-black);
    font-weight: 700;
    font-size: 21px;
}

.social {
    list-style: none;
    text-align: center;
}

.social a {
    background-color: var(--light-blue);
}

.social a:hover,
.social a:focus {
	background-color: var(--basic-blue);
}

.social a:active {
	background-color: var(--dark-blue);
}

.twitter-link::after {
    content: url(../img/twitter.svg); 
}

.facebook-link::after {
    content: url(../img/fb.svg); 
}

.youtube-link::after {
    content: url(../img/youtube.svg); 
}

.twitter-link::after:active,
.facebook-link::after:active,
.youtube-link::after:active {
    opacity: 0.3;
}

.copyright {
    text-align: center;
}

.copyright a:hover path,
.copyright a:focus path {
	fill: var(--light-blue);
}

.copyright a:active path {
	fill: var(--grey-logo);
}

.search-modal {
    display: none;
}

/* Hotels */

.hotel {
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: var(--grey-border);
}

.hotel-link {
    font-weight: 700;
    font-size: 21px;
    color: var(--basic-black);
}

.hotel-link:hover,
.hotel-link:focus {
    color: var(--light-blue);
}

.hotel-link:active {
	color: var(--basic-black);
	opacity: 0.3;
}

.hotel-type-price {
    line-height: 21px;
    color: var(--light-black);
}

.btn-details {
    color: var(--basic-white);
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    background-color: var(--light-blue);
}

.btn-details:hover,
.btn-details:focus {
    background-color: var(--basic-blue);
}

.btn-details:active {
    background-color: var(--dark-blue);
}

.btn-details span:active {
    opacity: 0.3;
}

.btn-reserve {
    color: var(--basic-white);
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    background-color: var(--light-brown);
}

.btn-reserve:hover,
.btn-reserve:focus {
    background-color: var(--basic-brown);
}

.btn-reserve:active {
    background-color: var(--dark-brown);  
}

.btn-reserve span:active {
    opacity: 0.3;
}

.rating-value {
    background-color: var(--grey-input-an-rating);
}

.rating-value {
    color: var(--grey-rating-text);
    line-height: 21px;
    text-align: center;
}