/* Variables */

:root {
    --basic-white-background-and-font: #ffffff;
    --basic-black-font: #000000;
    --basic-light-black-font: #333333;
    --basic-grey-background-features: #eeeeee;
    --basic-brown-light-btn-search-and-links: #766357;
    --basic-grey-light-input-an-rating: #f2f2f2;
    --basic-blue-light-btn-search-links-and-social-icon: #81b3d2;
    --basic-grey-rating: #666666;
    --basic-grey-arrow: #cacaca;
    --dark-blue-hover-focus: #669ec0;
    --dark-brown-hover-focus: #604e43;
    --deep-dark-blue: #5496bd;
    --deep-dark-brown: #503e33;
    --grey-form-hover: #ebebeb;
    --grey-icon: #a9a9a9;
    --grey-logo: #bdbbbc;
    --grey-chekbox: #6a6a6a;
    --main-footer: rgba(255, 255, 255, 0.9);
}

/* Global */

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--basic-black-font);
    text-transform: uppercase;
    }

a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
	position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-navigation {
    font-weight: 700;
    background-color: var(--basic-white-background-and-font);
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: var(--basic-black-font);  
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: var(--basic-blue-light-btn-search-links-and-social-icon);
}

.site-navigation a:active {
	color: var(--basic-black-font);
	opacity: 0.3;
}

.site-navigation .nav-active {
    color: var(--basic-brown-light-btn-search-and-links);
}

.intro-img {
    background-color: var(--basic-blue-light-btn-search-links-and-social-icon);
    background-image: url("../img/background-photo-index.jpg");
    background-repeat: no-repeat;
    }
    
.inro-text h1{
    font-weight: 700;
    font-size: 21px;
   }

.inro-text p{
    color: var(--basic-light-black-font);
}

/*  Search */
.search {
    background-color: var(--basic-white-background-and-font);
}

.search h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
}

.search p {
    line-height: 24px;
    color: var(--basic-light-black-font);
}

.search-btn {
    font: inherit;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    background-color: var(--basic-brown-light-btn-search-and-links);
    font-size: 21px;
    color: var(--basic-white-background-and-font);
    border: none;
}

.search-btn:hover,
.search-btn:focus {
    background-color: var(--dark-brown-hover-focus);
}

.search-btn:active {
	background-color: var(--deep-dark-brown);
}

.search-btn:active span {
	opacity: 0.3;
}


.footer {
    background-color: var(--basic-white-background-and-font)
}

.footer .main-footer {
    background-color: var(--main-footer);
}

.footer-contacts {
    text-align: center;
}

.footer-contacts p {
    font-weight: 700;
    font-size: 21px;
}

.footer-contacts a {
    font: inherit;
    color: var(--basic-black-font);
    font-weight: 700;
    font-size: 21px;
}

.social {
    list-style: none;
    text-align: center;
}

.social a {
    background-color: var(--basic-blue-light-btn-search-links-and-social-icon);
}


.social a:hover,
.social a:focus {
	background-color: var(--dark-blue-hover-focus);
}

.social a:active {
	background-color: var(--deep-dark-blue);
}

.social a:active path {
	opacity: 0.3;
}

.copyright {
    text-align: center;
}

.copyright a:hover path,
.copyright a:focus path {
	fill: var(--basic-blue-light-btn-search-links-and-social-icon);
}

.copyright a:active path {
	fill: var(--grey-logo);
}

.search-modal {
    display: none
}

.hotel

.hotel-description

.hotel-link

.hotel-type-price 

.btn-details

.btn-reserve

.stars::before {
    content: "";
    background-image: url("../img/star.svg");
}